form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  max-width: 320px;
  margin-top: 3rem;
}

input,
button {
  width: 100%;
  padding: 0.8rem;
}

input {
  border-radius: 4px;
  border: none;
  font-size: 1rem;
  outline: none;
}

button {
  border: none;
  margin-top: 0.25rem;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
}
